
.responsive {
    width: 800px;
    height: 520px;
    background-size: contain;
  }

.carousel{
margin-left: 10rem;
margin-right: 10rem;
margin-top: 7%;

  }

@media screen and (max-width: 1024px) {
    .mobileSlider {
        display: none !important;
    }
}
