
.responsive {
    width: 100%;
    height: 400px;
    
}

.carousel .carousel-item{
// margin-left: 10rem;
// margin-right: 10rem;
// margin-top: 7%;
  width: 100%;
  //height: 600px;
  }

.carousel-caption{
  margin-bottom: 90px;
}


.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}