body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    
}
.btn{
    margin-top: -25px;
}

.btn.btn-social-icon {
    width: 20px;
    height: 20px;
    padding: 0;
  }
.btn-outline-facebook {
    
    color: #3b579d
  }

.btn-outline-twitter {
  
    color: #2caae1
}

.btn-outline-linkedin {
   
    color: #0177b5
}

.btn-outline-instagram {
    
    color: #dc4a38
}

.btn-outline-youtube {
    
    color: #ff1e00
}

  
.btn-outline-facebook:hover {
    background: #3b579d;
    color: #ffffff
  }


 
.btn-outline-twitter:hover {
    background: #2caae1;
    color: #ffffff
}

.btn-outline-linkedin:hover {
    background: #0177b5;
    color: #ffffff
}


.btn-outline-instagram:hover {
    background: #e52d27;
    color: #ffffff
}

.btn-outline-youtube:hover {
    background: #ff0000;
    color: #ffffff
  }


.bg-6{
    background-color: #FFECED;
}

.followus{
    margin-top: 10px;;
}


