body {
    overflow: hidden;
    width: 100%;
}


.btn.btn-social-icon {
    width: 20px;
    height: 20px;
    padding: 10px;
  }
.btn-outline-facebook {
    border: 1px solid #3b579d;
    color: #3b579d
  }

.btn-outline-twitter {
    border: 1px solid #2caae1;
    color: #2caae1
}

.btn-outline-linkedin {
    border: 1px solid #0177b5;
    color: #0177b5
}

.btn-outline-instagram {
    border: 1px solid #dc4a38;
    color: #dc4a38
}

  
.btn-outline-facebook:hover {
    background: #3b579d;
    color: #ffffff
  }


 
.btn-outline-twitter:hover {
    background: #2caae1;
    color: #ffffff
}

.btn-outline-linkedin:hover {
    background: #0177b5;
    color: #ffffff
}


.btn-outline-instagram:hover {
    background: #e52d27;
    color: #ffffff
}

.footer{
    
        border-top: 1px solid #C2B8B8;
        height:40px;
        margin-top:-41px;
   
}