// // components/Header.scss
// @import "../theme/theme";

// .Header {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;

//   height: 50px;
//   width: 100%;

//   padding: 0 20px;

//   font-family: $logo-font;
//   font-size: 24px;
//   font-weight: bold;
//   color: rgb(6, 6, 59);
//   text-transform: uppercase;

//   background: rgb(247, 207, 207);
//   overflow:hidden;

//   cursor: pointer;
// }

// .navbar{
//   background-color: red($color: #000000);
//   padding: 0px!important;
//   -webkit-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
//   -moz-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
//   box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
// }
// .bg-4 {
//   background-color: #465c8b;
//   color: black;
// }
// @keyframes mymove {
//   from {
//     left:  100px;
//        height: 0px;
//        opacity: 0;
//        border-bottom:0px;
//   }
//   to {
//       height: auto;

//   }
// }

// .navbar-nav a.nav-link{
//   padding: 0px !important;
// }
// ul.navbar-nav li.nav-item{
// margin: 0 20px;
// }
// ul.navbar-nav .nav-item:after {
//   content: '';
//   display: block;
//   height: 3px;
//   width: 0;
//   transition: width .5s ease, background-color .5s ease;
// }
// .navbar-nav .nav-item:hover:after {
//   width: 100%;
//   background:linear-gradient( rgb(247,245,221),rgb(252, 201, 201));
// }
// .nav-link{
//   color: #cac8c7 ;
// }

// .navbar {
//   margin-bottom: 0;
//   background-color: #f4511e;
//   z-index: 9999;
//   border: 0;
//   font-size: 12px !important;
//   line-height: 1.42857143 !important;
//   letter-spacing: 4px;
//   border-radius: 0;
// }

// .navbar li a, .navbar .navbar-brand {
//   color: #fff !important;
// }

// .navbar-nav li a:hover, .navbar-nav li.active a {
//   color: #f4511e !important;
//   background-color: #fff !important;
// }

// .navbar-default .navbar-toggle {
//   border-color: transparent;
//   color: #fff !important;
// }
// .navbar {
//   margin-bottom: 0;
//   background-color: #8458B3;
//   border: 0;
//   font-size: 11px !important;
//   letter-spacing: 4px;
//   opacity: 0.8;
// }

// /* Add a gray color to all navbar links */
// .navbar li a, .navbar .navbar-brand {
//   color: #d5d5d5 !important;
// }

// /* On hover, the links will turn white */
// .navbar-nav li a:hover {
//   color: #fff !important;
// }

// /* The active link */
// .navbar-nav li.active a {
//   color: #fff !important;
//   background-color:#29292c !important;
// }

// /* Remove border color from the collapsible button */
// .navbar-default .navbar-toggle {
//   border-color: transparent;
// }

// /* Dropdown */
// .open .dropdown-toggle {
//   color: #fff ;
//   background-color: #555 !important;
// }

// /* Dropdown links */
// .dropdown-menu li a {
//   color: #000 !important;
// }

// /* On hover, the dropdown links will turn red */
// .dropdown-menu li a:hover {
//   background-color: red !important;
// }

.navbar {
  margin-bottom: 0;
  background-color: #8752c0d9;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;

}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
